[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-monthfield = "*"
python-dateutil = "*"
django-multiforloop = "*"
django-vanilla-views = "*"

[dev-packages]

[requires]
python_version = "3.7"
