[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-monthfield = "*"
python-dateutil = "*"
django-multiforloop = "*"
django-vanilla-views = "*"
workdays = "*"
social-auth-app-django = "*"
django-bulma = "*"
django-reversion = "*"
gunicorn = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.7"
