<!-- Template for View display : 500 Internal servor error due to protectedErr -->

{% extends './pdc_core_app/base.html' %}

{% block content %}
<section class="hero has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-3 is-spaced">This object is surrounded by a shield of light.</h1>
          <h2 class="subtitle is-6">This object cannot be deleted, otherwise the database may be compromised.</h2>
          <button onclick="window.history.go(-2)" class="button is-medium is-danger" type="button" autofocus>OK</button>
        </div>
      </div>
</section>
{% endblock %}
