<!-- Template for View display : Autres -->

{% extends "./base.html" %}

{% block content %}

{% load static %}
<script src="{% static "pdc_core_app/autres.js" %}"></script>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Error</p>
      <button id="modaldelete" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      403 error occured during request.
    </section>
    <footer class="modal-card-foot">
      <button id="modaldelete" class="button is-success">OK</button>
    </footer>
  </div>
</div>
<nav class="level">
  <div class="level-left">
    <div class="columns">
      <div class="column">
       <a href="/pdc/autres/assign" class="button is-danger is-medium">
         <span>Nouvelle activité</span>
         <span class="icon">
           <i class="fas fa-folder-plus"></i>
         </span>
       </a>
    </div>
  </div>
</nav>

<div id="undo" class="notification is-light is-hidden">
  <button class="delete undo"></button>
  <a href="" class="button is-danger undobutton">Undo</a>
</div>
<hr>
<table id='myTable' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Edit/Delete</th>
      <th>Equipe</th>
      <th>Collab</th>
      <th>Activité</th>
      {% for month in list_month_display %}
        {% if month.0 > 9 %}
        <th>{{ month.0 }}-{{ month.1 }}</th>
        {% else %}
        <th>0{{ month.0 }}-{{ month.1 }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for sku in all %}
    <tr>
      {% for rp in sku %}
        {% if rp == sku.0 %}
        <td>
          <nav class="level">
            <div class="level-left">
                  <a data-id="{{ rp }}" class="button is-small is-rounded is-danger mydelete tooltip is-tooltip-right" data-tooltip="Delete assignment">
                    <span class="icon">
                      <i class="far fa-trash-alt"></i>
                    </span>
                  </a>
                  <a href="/pdc/autres/assign/update/{{ rp }}" class="button is-small is-rounded is-info tooltip is-tooltip-right" data-tooltip="Change assignment">
                    <span class="icon">
                      <i class="fas fa-redo"></i>
                    </span>
                  </a>
              </div>
          </nav>
        </td>
        {% else %}
        <td>{{ rp }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
