{% extends "./base.html" %}

{% block content %}

{% load static %}
<script src="{% static "pdc_core_app/collaborateurs.js" %}"></script>
<nav class="level">
  <div class="level-left">
    <div class="columns">
      <div class="column">
       <a class="button is-danger is-outlined is-medium">
         <span>Affecter collaborateur</span>
         <span class="icon">
           <i class="fas fa-folder-plus"></i>
         </span>
       </a>
       <br>
       <a href="/pdc/projets" class="button is-danger is-small">
          <span>Liste affectations</span>
          <span class="icon">
            <i class="fas fa-list"></i>
          </span>
        </a>
     </div>
       <div class="column">
        <a href="/pdc/collaborateurs/add" class="button is-black is-outlined is-medium">
          <span>Ajouter collaborateur</span>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
<table id='myTable' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Equipe</th>
      <th>Collab</th>
      <th>RdE</th>
      {% for month in list_month_display %}
        {% if month.0 > 9 %}
        <th>{{ month.0 }}-{{ month.1 }}</th>
        {% else %}
        <th>0{{ month.0 }}-{{ month.1 }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for sku in all %}
    <tr>
      {% for rp in sku %}
        <td>{{ rp }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
