{% extends "./base.html" %}

{% block content %}

{% load static %}
<script src="{% static "pdc_core_app/collaborateurs.js" %}"></script>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Error</p>
      <button id="modaldelete" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      403 error occured during request.
    </section>
    <footer class="modal-card-foot">
      <button id="modaldelete" class="button is-success">OK</button>
    </footer>
  </div>
</div>
<nav class="level">
  <div class="level-left">
    <div class="columns">
      <div class="column">
       <a href="/pdc/collaborateurs/assign" class="button is-danger is-medium">
         <span>Nouvelle affectation</span>
         <span class="icon">
           <i class="fas fa-folder-plus"></i>
         </span>
       </a>
       <br>
       <a href="/pdc/projets" class="button is-dark is-outlined is-small">
          <span>Liste affectations</span>
          <span class="icon">
            <i class="fas fa-list"></i>
          </span>
        </a>
     </div>
       <div class="column">
        <a href="/pdc/collaborateurs/add" class="button is-black is-medium">
          <span>Nouveau collaborateur</span>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="column">
      <div class="columns">
        <div class="column">
        <div class="field is-flex">
          <input id="switchAll" type="checkbox" name="switchAll" class="switch is-medium" checked="checked">
          <label for="switchAll">All</label>
        </div></div>
        <div class="column">
        <div class="field is-flex">
          <input id="switchW" type="checkbox" name="switchW" class="switch is-medium">
          <label for="switchW">PythonWeb</label>
        </div></div>
        <div class="column">
        <div class="field is-flex">
          <input id="switchPQ" type="checkbox" name="switchPQ" class="switch is-medium">
          <label for="switchPQ">PythonQt</label>
        </div></div>
        <div class="column">
        <div class="field is-flex">
          <input id="switchCQ" type="checkbox" name="switchCQ" class="switch is-medium">
          <label for="switchCQ">CPlusQt</label>
        </div></div>
      </div>
    </div>
  </div>
</nav>

<hr>

<nav>
  <div class="level-left">
    <div class="column">
      <div class="columns">
        <div class="column is-narrow">
        <div class="field is-flex">
          <input id="switch_woprobable" type="checkbox" name="switch_woprobable" class="switch is-link" checked="checked">
          <label for="switch_woprobable">Sans probable</label>
        </div></div>
        <div class="column is-narrow">
        <div class="field is-flex">
          <input id="switch_probablep" type="checkbox" name="switch_probablep" class="switch is-warning">
          <label for="switch_probablep">Probable pondéré</label>
        </div></div>
        <div class="column is-narrow">
        <div class="field is-flex">
          <input id="switch_maj" type="checkbox" name="switch_maj" class="switch is-danger">
          <label for="switch_maj">Cas majorant</label>
        </div></div>
      </div>
    </div>
  </div>
</nav>

<table id='myTable' class = "stripe hover table is-fullwidth mytable">
  <thead>
    <tr>
      <th>Edit/Delete</th>
      <th>Equipe</th>
      <th>Collab</th>
      <th>RdE</th>
      {% for month in list_month_display %}
        {% if month.0 > 9 %}
        <th>{{ month.0 }}-{{ month.1 }}</th>
        {% else %}
        <th>0{{ month.0 }}-{{ month.1 }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for sku in allSP %}
    <tr>
        <td>
          <nav class="level">
            <div class="level-left">
              <a data-id="{{ sku.1 }}" class="button is-small is-rounded is-danger mydelete tooltip is-tooltip-right" data-tooltip="Delete collab">
                <span class="icon">
                  <i class="far fa-trash-alt"></i>
                </span>
              </a>
              <a href="/pdc/collaborateurs/update/{{ sku.1 }}" class="button is-small is-rounded is-warning tooltip is-tooltip-right" data-tooltip="Update collab">
                <span class="icon">
                  <i class="far fa-edit"></i>
                </span>
              </a>
            </div>
          </nav>
        </td>
      {% for rp in sku %}
        {% if forloop.counter0 >= 4 %}
          <td>{{ rp|floatformat:"0" }}</td>
        {% else %}
        <td>{{ rp }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id='myTable2' class = "stripe hover table is-fullwidth mytable">
  <thead>
    <tr>
      <th>Edit/Delete</th>
      <th>Equipe</th>
      <th>Collab</th>
      <th>RdE</th>
      {% for month in list_month_display %}
        {% if month.0 > 9 %}
        <th>{{ month.0 }}-{{ month.1 }}</th>
        {% else %}
        <th>0{{ month.0 }}-{{ month.1 }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for sku in allPP %}
    <tr>
        <td>
          <nav class="level">
            <div class="level-left">
              <a data-id="{{ sku.1 }}" class="button is-small is-rounded is-danger mydelete tooltip is-tooltip-right" data-tooltip="Delete collab">
                <span class="icon">
                  <i class="far fa-trash-alt"></i>
                </span>
              </a>
              <a href="/pdc/collaborateurs/update/{{ sku.1 }}" class="button is-small is-rounded is-warning tooltip is-tooltip-right" data-tooltip="Update collab">
                <span class="icon">
                  <i class="far fa-edit"></i>
                </span>
              </a>
            </div>
          </nav>
        </td>
      {% for rp in sku %}
        <td>{{ rp }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id='myTable3' class = "stripe hover table is-fullwidth mytable">
  <thead>
    <tr>
      <th>Edit/Delete</th>
      <th>Equipe</th>
      <th>Collab</th>
      <th>RdE</th>
      {% for month in list_month_display %}
        {% if month.0 > 9 %}
        <th>{{ month.0 }}-{{ month.1 }}</th>
        {% else %}
        <th>0{{ month.0 }}-{{ month.1 }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for sku in all %}
    <tr>
        <td>
          <nav class="level">
            <div class="level-left">
              <a data-id="{{ sku.1 }}" class="button is-small is-rounded is-danger mydelete tooltip is-tooltip-right" data-tooltip="Delete collab">
                <span class="icon">
                  <i class="far fa-trash-alt"></i>
                </span>
              </a>
              <a href="/pdc/collaborateurs/update/{{ sku.1 }}" class="button is-small is-rounded is-warning tooltip is-tooltip-right" data-tooltip="Update collab">
                <span class="icon">
                  <i class="far fa-edit"></i>
                </span>
              </a>
            </div>
          </nav>
        </td>
      {% for rp in sku %}
        {% if forloop.counter0 >= 4 %}
          <td>{{ rp|floatformat:"0" }}</td>
        {% else %}
        <td>{{ rp }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
