<!-- Template for View display : Commandes -->

{% extends "./base.html" %}

{% block content %}

{% load static %}
<script src="{% static "pdc_core_app/commandes.js" %}"></script>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Error</p>
      <button id="modaldelete" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      403 error occured during request.
    </section>
    <footer class="modal-card-foot">
      <button id="modaldelete" class="button is-success">OK</button>
    </footer>
  </div>
</div>
<nav class="level">
  <div class="level-left">
    <div class="columns">
      <div class="column">
       <a href="/pdc/clients/add" class="button is-warning is-medium">
         <span>Nouveau client</span>
         <span class="icon">
           <i class="fas fa-plus"></i>
         </span>
       </a>
       <br>
       <a href="/pdc/data/#myTable2" class="button is-dark is-outlined is-small">
          <span>Liste clients</span>
          <span class="icon">
            <i class="fas fa-list"></i>
          </span>
        </a>
     </div>
     <div class="column">
       <a href="/pdc/projets/add" class="button is-link is-medium">
          <span>Nouveau projet</span>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
        <br>
        <a href="/pdc/data/#myTable" class="button is-dark is-outlined is-small">
           <span>Liste projets</span>
           <span class="icon">
             <i class="fas fa-list"></i>
           </span>
         </a>
     </div>
      <div class="column">
       <a href="/pdc/commandes/add" class="button is-success is-medium">
         <span>Passer commande</span>
         <span class="icon">
           <i class="fas fa-cart-plus"></i>
         </span>
       </a>
     </div>
    </div>
  </div>
</nav>

<div id="undo" class="notification is-light is-hidden">
  <button class="delete undo"></button>
  <a href="" class="button is-danger undobutton">Undo</a>
</div>

<table id='myTable' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Edit/Delete</th>
      <th>Equipe</th>
      <th>Date</th>
      <th>Client</th>
      <th>Nom projet</th>
      <th>RdP</th>
      <th>Charges</th>
      <th>Ref.</th>
      <th>Etablie</th>
      <th>Commentaire</th>
    </tr>
  </thead>
  <tbody>
    {% for sku in all %}
    <tr>
      {% for rp in sku %}
        {% if forloop.first %}
        <td>
          <nav class="level">
            <div class="level-left">
                  <a data-id="{{ rp }}" class="button is-small is-rounded is-danger mydelete tooltip is-tooltip-right" data-tooltip="Delete command">
                    <span class="icon">
                      <i class="far fa-trash-alt"></i>
                    </span>
                  </a>
                  <a href="/pdc/commandes/update/{{ rp }}" class="button is-small is-rounded is-warning tooltip is-tooltip-right" data-tooltip="Update command">
                    <span class="icon">
                      <i class="far fa-edit"></i>
                    </span>
                  </a>
            </div>
          </nav>
        </td>
        {% else %}
          <td>{{ rp }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
