{% extends "./base.html" %}

{% block content %}

{% load static %}
<script src="{% static "pdc_core_app/data.js" %}"></script>

<table id='myTable' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Projets</th>
    </tr>
  </thead>
  <tbody>
    {% for item in projets %}
    <tr>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id='myTable2' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Clients</th>
    </tr>
  </thead>
  <tbody>
    {% for item in clients %}
    <tr>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id='myTable3' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Collaborateurs</th>
    </tr>
  </thead>
  <tbody>
    {% for item in collabs %}
    <tr>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
