{% extends "./base.html" %}

{% block content %}

{% load static %}
<script src="{% static "pdc_core_app/data.js" %}"></script>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Error</p>
      <button id="modaldelete" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      403 error occured during request.
    </section>
    <footer class="modal-card-foot">
      <button id="modaldelete" class="button is-success">OK</button>
    </footer>
  </div>
</div>
<nav class="level">
  <div class="level-left">
    <div class="columns">
      <div class="column">
        <a href="/pdc/projets/add" class="button is-link is-medium">
           <span>Nouveau projet</span>
           <span class="icon">
             <i class="fas fa-plus"></i>
           </span>
         </a>
       </div>
       <div class="column">
        <a href="/pdc/clients/add" class="button is-warning is-medium">
          <span>Nouveau client</span>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </div>
      <div class="column">
       <a href="/pdc/collaborateurs/add" class="button is-black is-medium">
         <span>Nouveau collaborateur</span>
         <span class="icon">
           <i class="fas fa-plus"></i>
         </span>
       </a>
     </div>
     <div class="column">
      <a href="/pdc/projets/tache_probable_add" class="button has-background-grey-light is-white is-medium">
        <span>Nouvelle tâche probable</span>
        <span class="icon">
          <i class="fas fa-terminal"></i>
        </span>
      </a>
    </div>
  </div>
</div>
</nav>

<div id="undo" class="notification is-light is-hidden">
  <button class="delete undo"></button>
  <a href="" class="button is-danger undobutton">Undo</a>
</div>

<table id='myTable' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Projets</th>
    </tr>
  </thead>
  <tbody>
    {% for item in projets %}
    <tr>
        <td>
          <nav class="level">
            <div class="level-left">
                  <a data-id="{{ item.idProjet }}" class="button is-small is-rounded is-danger mydelete tooltip is-tooltip-right" data-tooltip="Delete project">
                    <span class="icon">
                      <i class="far fa-trash-alt"></i>
                    </span>
                  </a>
                  <a href="/pdc/projets/update/{{ item.idProjet }}" class="button is-small is-rounded is-warning tooltip is-tooltip-right" data-tooltip="Update project">
                    <span class="icon">
                      <i class="far fa-edit"></i>
                    </span>
                  </a>
                  &nbsp;
                  {{ item }}
            </div>
          </nav>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id='myTable2' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Clients</th>
    </tr>
  </thead>
  <tbody>
    {% for item in clients %}
    <tr>
      <td>
        <nav class="level">
          <div class="level-left">
                <a data-id="{{ item.idClient }}" class="button is-small is-rounded is-danger mydelete tooltip is-tooltip-right" data-tooltip="Delete client">
                  <span class="icon">
                    <i class="far fa-trash-alt"></i>
                  </span>
                </a>
                <a href="/pdc/clients/update/{{ item.idClient }}" class="button is-small is-rounded is-warning tooltip is-tooltip-right" data-tooltip="Update client">
                  <span class="icon">
                    <i class="far fa-edit"></i>
                  </span>
                </a>
                &nbsp;
                {{ item }}
          </div>
        </nav>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id='myTable3' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Collaborateurs</th>
    </tr>
  </thead>
  <tbody>
    {% for item in collabs %}
    <tr>
      <td>
        <nav class="level">
          <div class="level-left">
                <a data-id="{{ item.trigrammeC }}" class="button is-small is-rounded is-danger mydelete tooltip is-tooltip-right" data-tooltip="Delete collab">
                  <span class="icon">
                    <i class="far fa-trash-alt"></i>
                  </span>
                </a>
                <a href="/pdc/collaborateurs/update/{{ item.trigrammeC }}" class="button is-small is-rounded is-warning tooltip is-tooltip-right" data-tooltip="Update collab">
                  <span class="icon">
                    <i class="far fa-edit"></i>
                  </span>
                </a>
                &nbsp;
                {{ item }}
          </div>
        </nav>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id='myTable4' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Tâches probables</th>
    </tr>
  </thead>
  <tbody>
    {% for item in commandes %}
    <tr>
      <td>
        <nav class="level">
          <div class="level-left">
                <a data-id="{{ item.idCom }}" class="button is-small is-rounded is-danger mydelete tooltip is-tooltip-right" data-tooltip="Delete command">
                  <span class="icon">
                    <i class="far fa-trash-alt"></i>
                  </span>
                </a>
                <a href="/pdc/projets/tache_probable_update/{{ item.idCom }}" class="button is-small is-rounded is-warning tooltip is-tooltip-right" data-tooltip="Update command">
                  <span class="icon">
                    <i class="far fa-edit"></i>
                  </span>
                </a>
                <a data-id="{{ item.idCom }}" class="button is-small is-rounded is-success myupdate tooltip is-tooltip-right" data-tooltip="Order in">
                  <span class="icon">
                    <i class="fas fa-chevron-circle-down"></i>
                  </span>
                </a>

                &nbsp;
                {{ item }}, charges : {{ item.charges }},
                chargesRAF : {{ item.chargesRAF }}, Probabilité : {{ item.odds }}
          </div>
        </nav>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
