<!-- Template for View display : Historique -->

{% extends "./base.html" %}

{% block content %}

{% load static %}
<script src="{% static "pdc_core_app/history.js" %}"></script>

<a href="/pdc/history/delete" class="button is-link is-medium">
  <span>Clean history</span>
  <span class="icon">
    <i class="fas fa-broom"></i>
  </span>
</a>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Content type</th>
      <th>__str__</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for ver in version_list %}
    <tr>
      <td>{{ ver.date }}</td>
      {% if ver.user %}
        <td>{{ ver.user.username }}</td>
      {% else %}
        <td>Unknown</td>
      {% endif %}
      <td>{{ ver.model }}</td>
      <td>{{ ver.object_repr }}</td>
      <td>{{ ver.comment }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
