{% extends "./base.html" %}

{% block content %}

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Content type</th>
      <th>__str__</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for ver in version_list %}
    <tr>
      <td>{{ ver.date }}</td>
      {% if ver.user %}
        <td>{{ ver.user.username }}</td>
      {% else %}
        <td>Unknown</td>
      {% endif %}
      <td>{{ ver.model }}</td>
      <td>{{ ver.object_repr }}</td>
      <td>{{ ver.comment }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
