<!-- Template for View display : Page d'accueil -->

{% extends "./base.html" %}

{% block content %}


<script src="https://unpkg.com/scrollreveal"></script>

<div class="tile is-parent">
   <article class="tile is-child notification is-info">
     <p class="title is-2 first">Outil PDC</p>
     <p class="subtitle second">Management application</p>
   </article>
 </div>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-full third">
        <a href="/pdc/accounts/login/" class="button is-large is-primary">
          <span class="icon">
            <i class="fas fa-user-circle"></i>
          </span>
          {% if user.is_authenticated %}
            <span>Account</span>
          {% else %}
            <span>Login</span>
          {% endif %}
        </a>
        {% if not user.is_authenticated %}
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="button is-large is-warning">
            <span class="icon">
              <i class="fab fa-google"></i>
            </span>
            <span>Login Google</span>
          </a>
        {% endif %}
      </div>
      <div class="column is-one-third fourth">
        <a href="/pdc/projets">
        <article class="notification media has-background-white">
          <figure class="media-left">
            <span class="icon">
              <i class="has-text-warning fa fa-columns fa-lg"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Projets</h1>
              <p class="is-size-5 subtitle">
                Gérer la répartition des charges au sein d'un projet
              </p>
            </div>
          </div>
        </article>
      </a>
      </div>
      <div class="column is-one-third fifth">
        <a href="/pdc/collaborateurs">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-info">
              <i class="fas fa-users"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Collaborateurs</h1>
              <p class="is-size-5 subtitle">
                Accéder aux taux d'occupation de chaque collaborateur
              </p>
            </div>
          </div>
        </article>
      </a>
      </div>
      <div class="column is-one-third sixth">
        <a href="/pdc/commandes">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-dolly"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Commandes</h1>
              <p class="is-size-5 subtitle">
                Accéder à la liste des commandes en cours
              </p>
            </div>
          </div>
        </article>
      </a>
      </div>
      <div class="column is-one-third seventh">
        <a href="/pdc/autres">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-grey">
              <i class="fa fa-lg fa-cogs"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Autres</h1>
              <p class="is-size-5 subtitle">
                Gérer la répartition des activités autres
              </p>
            </div>
          </div>
        </article>
      </a>
      </div>
      <div class="column is-one-third eighth">
        <a href="/pdc/data">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-primary">
              <i class="fas fa-list-ul"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Liste données</h1>
              <p class="is-size-5 subtitle">
                Accéder à la liste des données supplémentaires
              </p>
            </div>
          </div>
        </article>
      </a>
      </div>
      <div class="column is-one-third ninth">
        <a href="/pdc/history">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fa fa-lg fa-cubes"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Historique</h1>
              <p class="is-size-5 subtitle">
                Accéder à l'historique des actions réalisées sur le site
              </p>
            </div>
          </div>
        </article>
      </a>
      </div>
    </div>
  </div>
</section>

{% load static  %}
<script src="{% static "pdc_core_app/index.js" %}"></script>

{% endblock %}
