{% extends "./base.html" %}

{% block content %}

{% load static %}
<script src="{% static "pdc_core_app/projets.js" %}"></script>
<div class="columns">
  <div class="column is-half">
    <a class="button is-link is-outlined is-medium">
       <span>Ajouter projet</span>
       <span class="icon">
         <i class="fas fa-plus"></i>
       </span>
     </a>
    <a class="button is-black is-outlined is-medium">
        <span>Modifier projet</span>
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
      </a>
    <a class="button is-danger is-outlined is-medium">
      <span>Supprimer projet</span>
      <span class="icon">
        <i class="fas fa-times"></i>
      </span>
    </a>
  </div>
  <div class="column">
    <div class="field is-flex">
      <input id="switchE" type="checkbox" name="switchE" class="switch is-medium" checked="checked">
      <label for="switchE">Etabli</label>
    </div>
  </div>
  <div class="column">
    <a class="button is-primary is-outlined is-medium is-pulled-right">
      <span>Affecter collaborateur</span>
      <span class="icon">
        <i class="fas fa-folder-plus"></i>
      </span>
    </a>
  </div>
</div>

<br>

<table id='myTable' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Equipe</th>
      <th>Collab</th>
      <th>Client</th>
      <th>Nom projet</th>
      <th>RdP</th>
      <th>RT</th>
      <th>Cmd</th>
      {% for month in list_month_display %}
        {% if month.0 > 9 %}
        <th>{{ month.0 }}-{{ month.1 }}</th>
        {% else %}
        <th>0{{ month.0 }}-{{ month.1 }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for sku in all %}
    <tr>
      {% for rp in sku %}
        <td>{{ rp }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
