{% extends "./base.html" %}

{% block content %}

{% load static %}
<script src="{% static "pdc_core_app/projets.js" %}"></script>

<nav class="level">
  <div class="level-left">
    <div class="columns">
      <div class="column">
        <a href="/pdc/projets/add" class="button is-link is-medium">
           <span>Nouveau projet</span>
           <span class="icon">
             <i class="fas fa-plus"></i>
           </span>
         </a>
         <br>
         <a href="/pdc/data/#myTable" class="button is-dark is-outlined is-small">
            <span>Liste projets</span>
            <span class="icon">
              <i class="fas fa-list"></i>
            </span>
          </a>
       </div>
       <div class="column">
        <a href="/pdc/collaborateurs/assign/" class="button is-danger is-medium">
          <span>Affecter collaborateur (projet)</span>
          <span class="icon">
            <i class="fas fa-folder-plus"></i>
          </span>
        </a>
        <br>
        <a href="/pdc/collaborateurs" class="button is-dark is-outlined is-small">
           <span>Liste collaborateurs</span>
           <span class="icon">
             <i class="fas fa-list"></i>
           </span>
         </a>
      </div>
      <div class="column">
       <a href="/pdc/projets/tache_probable_add" class="button has-background-grey-light is-white is-medium">
         <span>Nouvelle tâche probable</span>
         <span class="icon">
           <i class="fas fa-terminal"></i>
         </span>
       </a>
       <br>
       <a href="/pdc/data/#myTable4" class="button is-dark is-outlined is-small">
          <span>Liste tâches probables</span>
          <span class="icon">
            <i class="fas fa-list"></i>
          </span>
        </a>
     </div>
      <div class="column">
       <a href="/pdc/commandes/add" class="button is-success is-medium">
         <span>Passer commande</span>
         <span class="icon">
           <i class="fas fa-cart-plus"></i>
         </span>
       </a>
       <br>
       <a href="/pdc/commandes" class="button is-dark is-outlined is-small">
          <span>Liste commandes</span>
          <span class="icon">
            <i class="fas fa-list"></i>
          </span>
        </a>
     </div>
    </div>
  </div>
  <div class="level-right">
    <div class="column">
      <div class="columns">
        <div class="column">
        <div class="field is-flex">
          <input id="switchAll" type="checkbox" name="switchAll" class="switch is-medium" checked="checked">
          <label for="switchAll">All</label>
        </div></div>
        <div class="column">
        <div class="field is-flex">
          <input id="switchE" type="checkbox" name="switchE" class="switch is-medium">
          <label for="switchE">Etabli</label>
        </div></div>
        <div class="column">
        <div class="field is-flex">
          <input id="switchP" type="checkbox" name="switchP" class="switch is-medium">
          <label for="switchP">Probable</label>
        </div></div>
      </div>
    </div>
  </div>
</nav>
<hr>

<nav class="level">
  <div class="level-left">
    <a class="button is-grey is-small toggle-all">
      <span>All</span>
      <span class="icon">
        <i class="far fa-eye" id="icon"></i>
      </span>
    </a>
    <a class="button is-grey is-small toggle" data-column="3">
      <span>Client</span>
      <span class="icon">
        <i class="far fa-eye" id="icon"></i>
      </span>
    </a>
    <a class="button is-grey is-small toggle" data-column="6">
      <span>Responsable de projet</span>
      <span class="icon">
        <i class="far fa-eye" id="icon"></i>
      </span>
    </a>
    <a class="button is-grey is-small toggle" data-column="7">
      <span>Responsable technique</span>
      <span class="icon">
        <i class="far fa-eye" id="icon"></i>
      </span>
    </a>
    <a class="button is-grey is-small toggle" data-column="8">
      <span>Commande</span>
      <span class="icon">
        <i class="far fa-eye" id="icon"></i>
      </span>
    </a>
  </div>
  <div class ="level-right">
    <a class="button is-link">
      <span>Changer RAF</span>
      <span class="icon">
        <i class="far fa-edit"></i>
      </span>
    </a>
  </div>
</nav>

<table id='myTable' class = "stripe hover table is-fullwidth">
  <thead>
    <tr>
      <th>Edit/Delete</th>
      <th>Equipe</th>
      <th>Collab</th>
      <th>Client</th>
      <th>Nom projet</th>
      <th>Ref</th>
      <th>RdP</th>
      <th>RT</th>
      <th>Cmd</th>
      {% for month in list_month_display %}
        {% if month.0 > 9 %}
        <th>{{ month.0 }}-{{ month.1 }}</th>
        {% else %}
        <th>0{{ month.0 }}-{{ month.1 }}</th>
        {% endif %}
      {% endfor %}
      <th>ChargesRAF</th>
      <th>Charges Affectées</th>
    </tr>
  </thead>
  <tbody>
    {% for sku in all %}
    <tr>
      {% for rp in sku %}
      {% if forloop.first %}
      <td>
        <nav class="level">
          <div class="level-left">
                {% if sku.8 is False %}
                <a data-id="{{ rp }}" class="button is-small is-rounded is-success myupdate">
                  <span class="icon">
                    <i class="fas fa-chevron-circle-down"></i>
                  </span>
                </a>
                {% endif %}
                <a href="/pdc/commandes/update/{{ rp }}" class="button is-small is-rounded is-warning">
                  <span class="icon">
                    <i class="far fa-edit"></i>
                  </span>
                </a>
                <a data-id="{{ rp }}" class="button is-small is-rounded is-danger mydelete">
                  <span class="icon">
                    <i class="far fa-trash-alt"></i>
                  </span>
                </a>
          </div>
        </nav>
      </td>
      {% else %}
        {% if forloop.counter0 >= 9 and forloop.counter0 < sku|length|add:"-2" %}
          <td class="tooltip is-tooltip-right" data-tooltip="">{{ rp }}</td>
        {% else %}
          <td>{{ rp }}</td>
          {% endif %}
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
