{% extends "./base.html" %}

{% block content %}
<br>
<table id='myTable' class = "table is-fullwidth">
  <thead>
    <tr>
      <th>Equipe</th>
      <th>Collab</th>
      <th>Client</th>
      <th>Nom projet</th>
      <th>RdP</th>
      <th>RT</th>
      <th>Cmd</th>
      <th>|</th>
      {% for month in list_month_display %}
        {% if month.0 > 9 %}
        <th>{{ month.0 }}-{{ month.1 }}</th>
        {% else %}
        <th>0{{ month.0 }}-{{ month.1 }}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for rp in repartitions %}
    <tr>
      <td>{{ rp.commande.equipe.nomE }}</td>
      <td>{{ rp.collaborateur.trigrammeC }}</td>
      <td>{{ rp.commande.projet.client.nomCl }}</td>
      <td>{{ rp.commande.projet.nomP }}</td>
      <td>{{ rp.commande.projet.RdP.trigrammeC }}</td>
      <td>{{ rp.commande.projet.RT.trigrammeC }}</td>
      <td>{{ rp.commande.etablie }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
